@import 'tailwindcss';

@theme {
  --color-foreground: #f9f8f8;
  --color-background: #0b0b0d;
  --color-panel: #111115;
  --color-muted-foreground: #a8a6a7;
  --color-muted: #8e8c8c;
  --color-border: #2a2a31;
  --color-edge: #2f2f37;
  --color-subtle: #8c8c94;
}

:root {
  font-family: var(--font-maple-mono), monospace;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-foreground);
}
